@import "./colors";

.btn-primary {
   color: $blue;
   background-color: $white;
   padding: 10px 32px;
   transition: all 0.2s;
   border: none;

   &:hover {
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
      transform: translateY(-4px);
      background-color: darken($blue, 20%);
   }
   &:focus {
      transform: scale(0.9);
   }

   &.active {
      background-color: $blue;
   }
}

.btn-light {
   color: $white;
   background-color: $blue;
   border: 2px solid $white;
   padding: 8px 32px;
   transition: all 0.2s;

   &:hover {
      background-color: darken($blue, 20%);
      color: $white;
      transform: translateY(-4px);
   }

   &:focus {
      transform: scale(0.9);
   }
}

.btn-blue {
   color: $white;
   background: transparent;
   padding: 10px 32px;
   border-radius: 32px;
   transition: all 0.2s ease-in-out;

   &:hover {
      color: #f1f1f1;
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
      transform: translateY(-4px);
      background-color: darken($blue, 20%);
   }

   &:focus {
      transform: scale(0.9);
   }
}
.accordion-button:not(.collapsed) {
   background-color: $white;
   box-shadow: none;
}

.accordion-item {
   &:first-of-type {
      border-top-right-radius: 32px;
   }
}

.accordion-button {
   &:focus {
      box-shadow: none;
   }
}

.btn-top {
   display: none;
   position: fixed;
   font-size: 32px;
   bottom: 124px;
   right: 24px;
   width: 53px;
   height: 53px;
   line-height: 56px;
   text-align: center;
   background-color: #f1f1f1;
   border-radius: 50%;
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
   z-index: 20;
}

.btn-filter {
   color: $blue;
   background-color: $white;
   padding: 10px 32px;
   border-radius: 32px;
   transition: all 0.2s;
   border: 0;

   &.current {
      background-color: $blue;
      color: $white;
   }

   &:hover {
      box-shadow: 0px 0px 18px rgba(114, 108, 108, 0.25);
      transform: translateY(-4px);
   }
   &:focus {
      transform: scale(0.9);
   }
}

.darkmode {
   .btn-top {
      background-color: $dark_blue;
      color: $dark_white;
   }

   .btn-filter {
      background-color: #292c36;
      color: $white;
      border: 0;

      &.current {
         color: $blue;
         font-weight: 600;
      }
   }
}
