@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@400;500;600&display=swap");
.btn-primary {
  color: #4275fa;
  background-color: #fff;
  padding: 10px 32px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.btn-primary:hover {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.btn-light {
  color: #fff;
  background-color: #4275fa;
  border: 2px solid #fff;
  padding: 8px 32px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-light:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-item:first-of-type {
  border-top-right-radius: 32px;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4275fa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d5fb3;
}

section {
  padding: 60px 0;
}

.section-title {
  color: #4275fa;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.16em;
}

.title {
  color: #2e2d56;
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.navbar {
  padding: 1em 0;
}

.navbar.sticky {
  background: #fff;
  -webkit-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 18px rgba(0, 0, 0, 0.13);
}

.navbar.sticky .navbar-brand {
  color: #4275fa;
}

.navbar.sticky .bx-menu-alt-left {
  color: #4275fa;
}

.navbar.sticky .nav-link {
  color: #000;
}

.navbar .navbar-toggler {
  font-size: 38px;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .bx-menu-alt-left {
  color: #fff;
}

.navbar .navbar-nav {
  background: #fff;
  border-radius: 8px;
}

.navbar .navbar-nav .nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.06em;
}

.hero {
  padding-top: 150px;
  background: url(../images/circle1.png), linear-gradient(126.69deg, #4275fa 6.42%, rgba(17, 2, 198, 0.87) 104.03%);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.03em;
}

.hero .sub-title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.hero hr {
  opacity: 1;
  width: 100px;
  height: 4px;
}

.hero .desc {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.06em;
}

.hero .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

svg {
  width: 100%;
  margin-top: -70px;
}

.about .desc {
  color: #5f5379;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
}

.about .row {
  --bs-gutter-x: 0.5rem;
}

.about .card {
  background-color: #f1f1f1;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about .card:hover {
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.13);
}

.about .card .card-body {
  padding: 1rem 0.5rem;
}

.about .card .card-title {
  font-size: 28px;
  color: #4275fa;
}

.about .card .card-subtitle {
  font-size: 14px;
  font-weight: 600;
}

.about .card .card-subtitle span {
  color: #7e7e7e;
}

.skills img {
  position: relative;
  margin-top: -40px;
  margin-left: 30px;
  width: 70px;
}

.skills .row {
  row-gap: 48px;
}

.skills .accordion {
  margin-top: 60px;
}

@media (min-width: 992px) {
  .navbar.sticky {
    background: #fff;
  }
  .navbar.sticky .navbar-nav {
    background: none;
  }
  .navbar.sticky .navbar-nav .nav-link {
    color: #4275fa;
  }
  .navbar.sticky .navbar-nav .nav-link:hover {
    color: #042f9f;
  }
  .navbar .navbar-nav {
    background: none;
  }
  .navbar .navbar-nav .nav-link {
    color: #fff;
    padding-left: 32px;
  }
  .hero {
    background-size: 100%;
    padding-top: 80px;
  }
  svg {
    margin-top: -106px;
  }
  .about .row {
    --bs-gutter-x: 1rem;
  }
  .about .card .card-subtitle {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */