@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Pacifico&family=Poppins:wght@400;500;600&display=swap");
.btn-primary {
  color: #4275fa;
  background-color: #fff;
  padding: 10px 32px;
  transition: all 0.2s;
  border: none;
}
.btn-primary:hover {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  transform: translateY(-4px);
  background-color: #063ed0;
}
.btn-primary:focus {
  transform: scale(0.9);
}
.btn-primary.active {
  background-color: #4275fa;
}

.btn-light {
  color: #fff;
  background-color: #4275fa;
  border: 2px solid #fff;
  padding: 8px 32px;
  transition: all 0.2s;
}
.btn-light:hover {
  background-color: #063ed0;
  color: #fff;
  transform: translateY(-4px);
}
.btn-light:focus {
  transform: scale(0.9);
}

.btn-blue {
  color: #fff;
  background: #4275fa;
  padding: 10px 32px;
  border-radius: 32px;
  transition: all 0.2s ease-in-out;
}
.btn-blue:hover {
  color: #f1f1f1;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  transform: translateY(-4px);
  background-color: #063ed0;
}
.btn-blue:focus {
  transform: scale(0.9);
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}

.accordion-item:first-of-type {
  border-top-right-radius: 32px;
}

.accordion-button:focus {
  box-shadow: none;
}

.btn-top {
  display: none;
  position: fixed;
  font-size: 32px;
  bottom: 124px;
  right: 24px;
  width: 53px;
  height: 53px;
  line-height: 56px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  z-index: 20;
}

.btn-filter {
  color: #4275fa;
  background-color: #fff;
  padding: 10px 32px;
  border-radius: 32px;
  border: 0;
  transition: all 0.2s;
}
.btn-filter.active {
  background-color: #4275fa;
  color: #fff;
}
.btn-filter.active:hover {
  box-shadow: 0px 0px 18px rgba(114, 108, 108, 0.25);
  transform: translateY(-4px);
  color: #fff;
}
.btn-filter:hover {
  box-shadow: 0px 0px 18px rgba(114, 108, 108, 0.25);
  transform: translateY(-4px);
  color: #4275fa;
}
.btn-filter:focus {
  transform: scale(0.9);
}

.darkmode .btn-top {
  background-color: #2c5bff;
  color: #eaeaea;
}
.darkmode .btn-filter {
  background-color: #292c36;
  color: #fff;
}
.darkmode .btn-filter.active {
  color: #4275fa;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.check-input {
  position: absolute;
  opacity: 0;
}

.check-label {
  width: 42px;
  height: 20px;
  background-color: #7ea6fc;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}
.check-label .bxs-moon {
  color: #596570;
  font-size: 15px;
}
.check-label .bxs-sun {
  color: #eee125;
  font-size: 15px;
}
.check-label .dot {
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 4px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.check-input:checked + .check-label .dot {
  transform: translateX(19px);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4275fa;
  border-radius: 10px;
  padding: 0 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #618eff;
}

.waves {
  fill: #fff;
}

.shape, .shape-navy, .shape-purple, .shape-blue {
  position: absolute;
  width: 170px;
  -webkit-animation: bounce 1.5s infinite alternate;
          animation: bounce 1.5s infinite alternate;
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120px);
  }
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120px);
  }
}

.shape-blue {
  background-color: #4275fa;
}

.shape-purple {
  background-color: rgba(91, 89, 231, 0.6862745098);
}

.shape-navy {
  background-color: #102b74;
}

.shape-left {
  left: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.shape-right {
  right: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

section {
  padding: 120px 0;
}

.section-title {
  color: #4275fa;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.16em;
}

.title {
  color: #2e2d56;
  font-size: 28px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: 0.16em;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252839;
  z-index: 99;
}
#preloader h2 {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  color: #252839;
  -webkit-text-stroke: 1px #384b70;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
#preloader h2::before {
  content: "RAULIQBAL...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #2153be;
  -webkit-text-stroke: 0px #3d62b3;
  border-right: 2px solid #2153be;
  overflow: hidden;
  -webkit-animation: text-loader 6s infinite;
          animation: text-loader 6s infinite;
}
@-webkit-keyframes text-loader {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
@keyframes text-loader {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}

.switch-darkmode {
  margin-right: 10px;
}

.navbar-ri {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em 4%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-ri .navbar-brand {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Pacifico", cursive !important;
}
.navbar-ri .navbar-toggler,
.navbar-ri .navbar-toggler:focus,
.navbar-ri .navbar-toggler:active,
.navbar-ri .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-ri .navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.navbar-ri .navbar-toggler span {
  margin: 0;
  padding: 0;
}
.navbar-ri .navbar-toggler .toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar-ri .navbar-toggler .mid-bar {
  margin: 0px;
}
.navbar-ri .navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(-45deg);
}
.navbar-ri .navbar-toggler .mid-bar {
  width: 0;
}
.navbar-ri .navbar-toggler .bot-bar {
  margin-top: 0px;
  transform: rotate(45deg);
}
.navbar-ri .navbar-toggler.collapsed .top-bar {
  margin-top: -8px;
  transform: rotate(0deg);
}
.navbar-ri .navbar-toggler.collapsed .mid-bar {
  width: 100%;
}
.navbar-ri .navbar-toggler.collapsed .bot-bar {
  margin-top: 8px;
  transform: rotate(0deg);
}
.navbar-ri .navbar-toggler.collapsed .toggler-icon {
  background: #fff;
}
.navbar-ri .navbar-nav {
  padding: 8px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.719);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-top: 2px solid #5783e2;
}
.navbar-ri .navbar-nav .nav-link {
  color: #4275fa;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-ri .navbar-nav .nav-link:hover .icons {
  transform: translateY(-8px);
}
.navbar-ri .navbar-nav .nav-link .icons {
  font-size: 24px;
}
.navbar-ri .navbar-nav .nav-link span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06em;
}

.hero {
  height: 100vh;
  background: url(../images/circle1.png), linear-gradient(126.69deg, #4275fa 6.42%, rgba(17, 2, 198, 0.87) 104.03%);
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #fff;
}
.hero .sub-title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.hero hr {
  opacity: 1;
  width: 100px;
  height: 4px;
  border-top: none;
}
.hero .desc {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.06em;
}
.hero .cta {
  display: flex;
  gap: 32px;
}
.hero img {
  -webkit-animation: bounce 1s infinite alternate;
          animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

svg {
  width: 100%;
  margin-top: -70px;
}

.about img:hover {
  transform: translateY(-10px);
}
.about .desc {
  color: #5f5379;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.018em;
}
.about .row {
  --bs-gutter-x: 0.5rem;
}
.about .card {
  background-color: #f1f1f1;
  border: none;
  transition: all 0.3s ease-in-out;
}
.about .card:hover {
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.13);
}
.about .card .card-body {
  padding: 1rem 0.5rem;
}
.about .card .card-title {
  font-size: 28px;
  color: #4275fa;
}
.about .card .card-subtitle {
  font-size: 14px;
  font-weight: 600;
}
.about .card .card-subtitle span {
  color: #7e7e7e;
}

.skills {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .desc {
  color: #5f5379;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.06em;
}
.skills .card {
  border: none;
  border-radius: 8px;
  background: #f1f1f1;
}
.skills .card .card-body {
  padding: 2rem 1.5rem;
}
.skills .card .card-body .icons {
  color: #2e2d56;
  font-size: 42px;
  margin-top: 32px;
  margin-bottom: 14px;
}
.skills .card .card-body .card-title {
  font-size: 24px;
  letter-spacing: 0.06em;
  color: #2e2d56;
  font-weight: 600;
}
.skills .card .card-body .btn-icon button {
  background: none;
  border: none;
  color: #4275fa;
}
.skills .card .card-body .btn-icon:hover i {
  transform: translateX(4px);
}
.skills .card .card-body .btn-icon i {
  color: #4275fa;
  font-size: 20px;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fafd;
}
.portfolio .column {
  padding: 8px;
  display: none;
}
.portfolio .show {
  display: block;
}
.portfolio .card-ri {
  border-radius: 12px;
  border-color: transparent;
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.13);
  border-width: 0px;
  transition: all 0.2s ease-out;
}
.portfolio .card-ri .card-top {
  position: relative;
  overflow: hidden;
}
.portfolio .card-ri .card-top:hover img {
  transform: rotate(2deg) scale(1.1);
}
.portfolio .card-ri .card-top:hover .overlay {
  opacity: 4;
  top: 0;
}
.portfolio .card-ri .card-top:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.portfolio .card-ri .card-top img {
  width: 100%;
}
.portfolio .card-ri .card-top .overlay {
  background: rgba(45, 134, 218, 0.664);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: -100%;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.portfolio .card-ri .card-top .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 80%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.portfolio .card-ri .card-top .content-details h3 {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}
.portfolio .card-ri .card-top .content-details .icons {
  font-size: 24px;
  padding: 8px;
  color: #2e2d56;
  background: #fff;
  margin: 0 8px;
  border-radius: 8px;
}
.portfolio .card-ri .card-top .content-details .icons:hover {
  background: #4275fa;
  color: #fff;
}
.portfolio .card-ri .content {
  background-color: #fff;
  padding: 24px 16px;
  position: relative;
}
.portfolio .card-ri .content .card-desc {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 12px;
  background-color: #4275fa;
  color: #fff;
  position: absolute;
  border-radius: 8px;
  margin-top: -42px;
}
.portfolio .card-ri .content .card-title {
  font-size: 22px;
  color: #2e2d56;
}
.portfolio .card-ri .content .card-social {
  display: flex;
  margin-top: 12px;
  gap: 8px;
}
.portfolio .card-ri .content .card-social img {
  width: 24px;
  height: 24px;
}

.contact-wrapper {
  padding: 32px 24px;
  border-radius: 0;
  background: url("../images/circel2.png"), linear-gradient(98.94deg, #4275fa -23.73%, rgba(17, 2, 198, 0.87) 118.38%);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 70%, 100%;
}
.contact-wrapper h5 {
  font-size: 22px;
}
.contact-wrapper p {
  font-size: 18px;
}
.contact-wrapper h6 {
  font-size: 14px;
}
.contact-wrapper .icons {
  font-size: 24px;
  padding: 8px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.contact-wrapper .icons:hover {
  background: #4274e4;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.13);
}

.form {
  padding: 32px 24px;
}
.form .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #7e7e7e;
}
.form .form-control:focus {
  border-bottom: 2px solid #4275fa;
  box-shadow: none;
}

footer {
  background: linear-gradient(98.94deg, #4275fa -23.73%, rgba(17, 2, 198, 0.87) 118.38%);
  padding-bottom: 68px;
}
footer .footer {
  padding: 24px;
}
footer .footer .footer-brand {
  font-family: "Pacifico", cursive !important;
}
footer .footer h6 {
  font-size: 14px;
}

@media (min-width: 990px) {
  section {
    padding: 76px 0;
  }
  #preloader h2 {
    font-size: 48px;
  }
  .section-title {
    color: #4275fa;
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 0.16em;
  }
  .title {
    color: #2e2d56;
    font-size: 34px;
    line-height: 54px;
    font-weight: 600;
    letter-spacing: 0.16em;
  }
  .navbar-ri {
    padding: 18px 9%;
  }
  .navbar-ri .nav-link.active {
    color: #2e2d56;
    font-weight: 600;
  }
  .navbar-ri.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.719);
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.13);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .navbar-ri.sticky .navbar-brand {
    color: #4275fa;
  }
  .navbar-ri.sticky .navbar-nav {
    background: none;
    gap: 32px;
  }
  .navbar-ri.sticky .navbar-nav .nav-link {
    color: #4275fa;
  }
  .navbar-ri.sticky .navbar-nav .nav-link:hover {
    color: #042f9f;
  }
  .navbar-ri.sticky .navbar-nav .nav-link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  .navbar-ri.sticky .navbar-nav .nav-link::after {
    background-color: #042f9f;
  }
  .navbar-ri.sticky .navbar-nav .nav-link.active {
    color: #2e2d56;
    font-weight: 600;
  }
  .navbar-ri .navbar-nav {
    position: relative;
    background-color: transparent;
    border-top: none;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  .navbar-ri .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-ri .navbar-nav .nav-link .icons {
    display: none;
  }
  .navbar-ri .navbar-nav .nav-link span {
    font-size: 18px;
  }
  .navbar-ri .navbar-nav .nav-link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  .navbar-ri .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
  .hero {
    background-size: 100%;
    padding-top: 80px;
    background-position: top center;
  }
  .hero .title {
    font-size: 24px;
  }
  .hero .sub-title {
    font-size: 48px;
  }
  .hero .desc {
    font-size: 18px;
  }
  svg {
    margin-top: -106px;
  }
  .about .desc {
    font-size: 18px;
  }
  .about .row {
    --bs-gutter-x: 1rem;
  }
  .about .card .card-subtitle {
    font-size: 16px;
  }
  .skills .desc {
    font-size: 18px;
  }
  .portfolio .content .content-details h3 {
    font-size: 22px;
  }
  .portfolio .filter-item .card-filter {
    width: 33%;
  }
  .portfolio .filter-item .card-filter.active {
    width: 33%;
    transition: all 0.5s ease;
  }
  .contact-wrapper {
    border-radius: 0 13px 13px 0;
    padding: 48px 48px 48px 68px;
    background-position: top left;
    background-size: 70%, 100%;
  }
  .contact-wrapper h6 {
    font-size: 1rem;
  }
  .contact-wrapper .icons {
    font-size: 32px;
  }
  .form {
    padding: 48px 68px 48px 48px;
  }
  footer {
    padding-bottom: 0px;
  }
  footer .footer h6 {
    font-size: 16px;
  }
}
.darkmode {
  background-color: #1f212c;
}
.darkmode .navbar-ri.sticky {
  background-color: #1f212c;
}
.darkmode .navbar-ri .navbar-nav .nav-link.active {
  color: #26376d;
}
.darkmode .waves {
  fill: #1f212c;
}
.darkmode .section-title {
  color: #2c5bff;
}
.darkmode .title {
  color: #eaeaea;
}
.darkmode .desc {
  color: #9c9c9e;
}
.darkmode .about .card {
  background-color: #292c36;
}
.darkmode .about .card .card-title {
  color: #2c5bff;
}
.darkmode .about .card .card-subtitle {
  color: #eaeaea;
}
.darkmode .skills .card {
  background-color: #292c36;
}
.darkmode .skills .card .icons {
  color: #2c5bff;
}
.darkmode .skills .card .card-title {
  color: #eaeaea;
}
.darkmode .portfolio {
  background-color: #202430;
}
.darkmode .portfolio .card-ri {
  box-shadow: none;
}
.darkmode .portfolio .card-ri .content {
  background-color: #292c36;
}
.darkmode .portfolio .card-ri .content .card-title {
  color: #eaeaea;
}
.darkmode .contact .desc {
  color: #eaeaea;
}
.darkmode .contact .form-label {
  color: #eaeaea;
}
.darkmode .contact .form-control {
  background-color: #3f434f;
  border-radius: 8px;
  border: none;
  caret-color: #fff;
  color: #eaeaea;
  padding: 12px 16px;
}/*# sourceMappingURL=style.css.map */