@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Pacifico&family=Poppins:wght@400;500;600&display=swap");

@import "./css/buttons";
@import "./css/colors";

* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
}

body {
   // font-family: 'Noto Sans', sans-serif;
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
   width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
   background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #4275fa;
   border-radius: 10px;
   padding: 0 4px;

   &:hover {
      background: #618eff;
   }
}

// ===========Component===========
.shape {
   position: absolute;
   width: 170px;
   animation: bounce 1.5s infinite alternate;

   @keyframes bounce {
      from {
         transform: translateY(0);
      }
      to {
         transform: translateY(-120px);
      }
   }
}

.shape-blue {
   @extend .shape;
   background-color: $blue;
}

.shape-purple {
   @extend .shape;
   background-color: #5b59e7af;
}

.shape-navy {
   @extend .shape;
   background-color: #102b74;
}

.shape-left {
   left: 0;
   border-top-right-radius: 12px;
   border-bottom-right-radius: 12px;
}

.shape-right {
   right: 0;
   border-top-left-radius: 12px;
   border-bottom-left-radius: 12px;
}

// ===========Utilities===========
section {
   padding: 120px 0;
}

.section-title {
   color: #4275fa;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 0.16em;
}

.title {
   color: #2e2d56;
   font-size: 28px;
   line-height: 54px;
   font-weight: 600;
   letter-spacing: 0.16em;
}

#preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #252839;
   z-index: 99;

   h2 {
      position: relative;
      font-size: 32px;
      font-weight: 600;
      color: #252839;
      -webkit-text-stroke: 1px #384b70;
      text-transform: uppercase;
      letter-spacing: 0.06em;

      &::before {
         content: "RAULIQBAL...";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         color: #2153be;
         -webkit-text-stroke: 0px #3d62b3;
         border-right: 2px solid #2153be;
         overflow: hidden;
         animation: text-loader 6s infinite;

         @keyframes text-loader {
            0%,
            10%,
            100% {
               width: 0;
            }
            70%,
            90% {
               width: 100%;
            }
         }
      }
   }
}

// ============Style Body============
.navbar {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   padding: 1em 0;
   z-index: 20;

   &.sticky {
      background: rgba(255, 255, 255, 0.719);
      box-shadow: 0 2px 18px rgba(0, 0, 0, 0.13);
      backdrop-filter: blur(8px);

      .navbar-brand {
         color: #4275fa;
      }

      .bx-menu-alt-left {
         color: #4275fa;
      }

      .nav-link {
         color: $blue;
      }

      .navbar-toggler.collapsed .toggler-icon {
         background: $black;
      }

      .navbar-toggler {
         .toggler-icon {
            background: $black;
         }
      }
   }

   .navbar-brand {
      color: $white;
      font-size: 1.8rem;
      font-family: "Pacifico", cursive !important;
   }

   .navbar-toggler,
   .navbar-toggler:focus,
   .navbar-toggler:active,
   .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
      border: 0;
   }
   .navbar-toggler {
      width: 20px;
      height: 20px;
      position: relative;
      transition: 0.5s ease-in-out;

      span {
         margin: 0;
         padding: 0;
      }

      .toggler-icon {
         display: block;
         position: absolute;
         height: 3px;
         width: 100%;
         background: $white;
         border-radius: 2px;
         opacity: 1;
         left: 0;
         transform: rotate(0deg);
         transition: 0.25s ease-in-out;
      }
      .mid-bar {
         margin: 0px;
      }

      .top-bar {
         margin-top: 0px;
         transform: rotate(-45deg);
      }
      .mid-bar {
         width: 0;
      }
      .bot-bar {
         margin-top: 0px;
         transform: rotate(45deg);
      }
   }

   .navbar-toggler.collapsed {
      .top-bar {
         margin-top: -8px;
         transform: rotate(0deg);
      }
      .mid-bar {
         width: 100%;
      }
      .bot-bar {
         margin-top: 8px;
         transform: rotate(0deg);
      }

      .toggler-icon {
         background: $white;
      }
   }

   .navbar-nav {
      background: rgba(255, 255, 255, 0.719);
      backdrop-filter: blur(8px);
      border-radius: 8px;
      margin-top: 20px;

      .nav-link {
         color: $blue;
         font-size: 16px;
         font-weight: 500;
         letter-spacing: 0.06em;
         position: relative;

         &:hover {
            &::after {
               transform-origin: bottom left;
               transform: scaleX(1);
            }
         }

         &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $white;
            transform-origin: bottom right;
            transform: scaleX(0);
            transition: transform 0.5s ease-in-out;
         }
      }
   }
}

.hero {
   height: 100vh;
   background: url(../images/circle1.png), linear-gradient(126.69deg, #4275fa 6.42%, rgba(17, 2, 198, 0.87) 104.03%);
   background-position: 80%;
   background-repeat: no-repeat;
   background-size: cover;

   .title {
      font-size: 20px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: 0.03em;
   }

   .sub-title {
      font-size: 38px;
      line-height: 48px;
      font-weight: 600;
      letter-spacing: 0.06em;
   }

   hr {
      opacity: 1;
      width: 100px;
      height: 4px;
   }

   .desc {
      font-size: 16px;
      line-height: 28px;
      font-weight: 500;
      letter-spacing: 0.06em;
   }

   .cta {
      display: flex;
      gap: 32px;
   }

   img {
      animation: bounce 1s infinite alternate;

      @keyframes bounce {
         from {
            transform: translateY(0);
         }
         to {
            transform: translateY(-10px);
         }
      }
   }
}

svg {
   width: 100%;
   margin-top: -70px;
}

.about {
   img {
      &:hover {
         transform: translateY(-10px);
      }
   }

   .desc {
      color: #5f5379;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.018em;
   }

   .row {
      --bs-gutter-x: 0.5rem;
   }

   .card {
      background-color: #f1f1f1;
      border: none;
      transition: all 0.3s ease-in-out;

      &:hover {
         box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.13);
      }

      .card-body {
         padding: 1rem 0.5rem;
      }

      .card-title {
         font-size: 28px;
         color: #4275fa;
      }

      .card-subtitle {
         font-size: 14px;
         font-weight: 600;

         span {
            color: #7e7e7e;
         }
      }
   }
}

.skills {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

   .desc {
      color: #5f5379;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.06em;
   }

   .card {
      border: none;
      border-radius: 8px;
      background: #f1f1f1;

      .card-body {
         padding: 2rem 1.5rem;
      }

      // &:hover {
      //    background: #436edb;

      //    .card-body {
      //       .icons {
      //          color: $white;
      //       }

      //       .card-title {
      //          color: $white;
      //       }

      //       .btn-icon {
      //          button {
      //             background: none;
      //             border: none;
      //             color: $white;
      //          }

      //          i {
      //             color: $white;
      //          }
      //       }
      //    }
      // }

      .card-body {
         .icons {
            color: $black;
            font-size: 42px;
            margin-top: 32px;
            margin-bottom: 14px;
         }

         .card-title {
            font-size: 24px;
            letter-spacing: 0.06em;
            color: $black;
            font-weight: 600;
         }

         .btn-icon {
            button {
               background: none;
               border: none;
               color: $blue;
            }

            &:hover {
               i {
                  transform: translateX(4px);
               }
            }

            i {
               color: $blue;
               font-size: 20px;
            }
         }
      }
   }
}

.portfolio {
   display: flex;
   justify-content: center;
   align-items: center;

   .content {
      position: relative;
      margin: auto;
      overflow: hidden;
      border-radius: 8px;

      &:hover {
         img {
            transform: rotate(4deg) scale(1.1);
         }

         .overlay {
            opacity: 4;
         }

         .content-details {
            top: 50%;
            left: 50%;
            opacity: 1;
         }
      }

      img {
         width: 100%;
      }

      .overlay {
         background: rgba(45, 134, 218, 0.664);
         position: absolute;
         height: 100%;
         width: 100%;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0;
         opacity: 0;
         transition: all 0.4s ease-out 0s;
      }

      .content-details {
         position: absolute;
         text-align: center;
         padding-left: 1em;
         padding-right: 1em;
         width: 100%;
         top: 80%;
         left: 50%;
         opacity: 0;
         transform: translate(-50%, -50%);

         h3 {
            color: $white;
            font-weight: 600;
            text-transform: capitalize;
            font-size: 20px;
         }

         .icons {
            font-size: 24px;
            padding: 8px;
            color: $black;
            background: $white;
            margin: 0 8px;
            border-radius: 8px;

            &:hover {
               background: #4275fa;
               color: $white;
            }
         }
      }
   }
}

.contact-wrapper {
   padding: 32px 24px;
   border-radius: 0;
   background: url("../images/circel2.png"), linear-gradient(98.94deg, #4275fa -23.73%, rgba(17, 2, 198, 0.87) 118.38%);
   background-repeat: no-repeat;
   background-position: bottom left;
   background-size: 70%, 100%;

   h5 {
      font-size: 22px;
   }

   p {
      font-size: 18px;
   }

   h6 {
      font-size: 14px;
   }

   .icons {
      font-size: 24px;
      padding: 8px;
      text-align: center;
      color: $white;
      border-radius: 50%;

      &:hover {
         background: #4274e4;
         box-shadow: 0 4px 24px rgba(0, 0, 0, 0.13);
      }
   }
}

.form {
   padding: 32px 24px;

   .form-control {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid #7e7e7e;

      &:focus {
         border-bottom: 2px solid #4275fa;
         box-shadow: none;
      }
   }
}

footer {
   background: linear-gradient(98.94deg, #4275fa -23.73%, rgba(17, 2, 198, 0.87) 118.38%);

   .footer {
      padding: 24px;

      .footer-brand {
         font-family: "Pacifico", cursive !important;
      }

      h6 {
         font-size: 14px;
      }
   }
}

//
//
//=================== Desktop VERSION ==============================
@media (min-width: 992px) {
   section {
      padding: 76px 0;
   }

   #preloader {
      h2 {
         font-size: 48px;
      }
   }

   .section-title {
      color: #4275fa;
      font-size: 22px;
      line-height: 36px;
      font-weight: 500;
      letter-spacing: 0.16em;
   }

   .title {
      color: #2e2d56;
      font-size: 34px;
      line-height: 54px;
      font-weight: 600;
      letter-spacing: 0.16em;
   }

   .navbar {
      .nav-link.active {
         color: #2e2d56;
         font-weight: 600;
      }

      &.sticky {
         background: rgba(255, 255, 255, 0.719);
         box-shadow: 0 2px 18px rgba(0, 0, 0, 0.13);
         backdrop-filter: blur(8px);

         .navbar-nav {
            background: none;

            .nav-link {
               color: #4275fa;

               &:hover {
                  color: darken($color: #4275fa, $amount: 30%);

                  &::after {
                     transform-origin: bottom left;
                     transform: scaleX(1);
                  }
               }

               &::after {
                  background-color: darken($color: #4275fa, $amount: 30%);
               }
            }

            .nav-link.active {
               color: #2e2d56;
               font-weight: 600;

               // &::after {
               //    transform: scaleX(1);
               //    width: 100%;
               // }
            }
         }
      }
      .navbar-nav {
         background: none;
         backdrop-filter: blur(0);
         margin-top: 0;

         .nav-link {
            color: $white;
         }
      }
   }

   .hero {
      background-size: 100%;
      padding-top: 80px;
      background-position: top center;

      .title {
         font-size: 24px;
      }
      .sub-title {
         font-size: 48px;
      }

      .desc {
         font-size: 18px;
      }
   }

   svg {
      margin-top: -106px;
   }

   .about {
      .desc {
         font-size: 18px;
      }

      .row {
         --bs-gutter-x: 1rem;
      }

      .card {
         .card-subtitle {
            font-size: 16px;
         }
      }
   }

   .skills {
      .desc {
         font-size: 18px;
      }
   }

   .portfolio {
      .content {
         .content-details {
            h3 {
               font-size: 22px;
            }
         }
      }
   }

   .contact-wrapper {
      border-radius: 0 13px 13px 0;
      padding: 48px 48px 48px 68px;
      background-position: top left;
      background-size: 70%, 100%;

      h6 {
         font-size: 1rem;
      }

      .icons {
         font-size: 32px;
      }
   }

   .form {
      padding: 48px 68px 48px 48px;
   }

   footer {
      .footer {
         h6 {
            font-size: 16px;
         }
      }
   }
}
