@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Pacifico&family=Poppins:wght@400;500;600&display=swap");

@import "./css/buttons";
@import "./css/colors";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

body {
    // font-family: 'Noto Sans', sans-serif;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4275fa;
    border-radius: 10px;

    &:hover {
        background: #3d5fb3;
    }
}

section {
    padding: 76px 0;
}

.section-title {
    color: #4275fa;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.16em;
}

.title {
    color: #2e2d56;
    font-size: 28px;
    line-height: 54px;
    font-weight: 600;
    letter-spacing: 0.16em;
}

.navbar {
    padding: 1em 0;

    &.sticky {
        background: #fff;
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.13);

        .navbar-brand {
            color: #4275fa;
        }

        .bx-menu-alt-left {
            color: #4275fa;
        }

        .nav-link {
            color: #000;
        }
    }

    .navbar-toggler {
        font-size: 38px;

        &:focus {
            box-shadow: none;
        }
    }

    .navbar-brand {
        color: #fff;
        font-size: 1.8rem;
        font-family: "Pacifico", cursive !important;
    }

    .bx-menu-alt-left {
        color: #fff;
    }
    .navbar-nav {
        background: #fff;
        border-radius: 8px;

        .nav-link {
            color: #000;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.06em;
        }
    }
}

.hero {
    padding-top: 150px;
    background: url(../images/circle1.png), linear-gradient(126.69deg, #4275fa 6.42%, rgba(17, 2, 198, 0.87) 104.03%);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0.03em;
    }

    .sub-title {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
        letter-spacing: 0.06em;
    }

    hr {
        opacity: 1;
        width: 100px;
        height: 4px;
    }

    .desc {
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        letter-spacing: 0.06em;
    }

    .cta {
        display: flex;
        gap: 32px;
    }
}

svg {
    width: 100%;
    margin-top: -70px;
}

.about {
    .desc {
        color: #5f5379;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.06em;
    }

    .row {
        --bs-gutter-x: 0.5rem;
    }

    .card {
        background-color: #f1f1f1;
        border: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.13);
        }

        .card-body {
            padding: 1rem 0.5rem;
        }

        .card-title {
            font-size: 28px;
            color: #4275fa;
        }

        .card-subtitle {
            font-size: 14px;
            font-weight: 600;

            span {
                color: #7e7e7e;
            }
        }
    }
}

.skills {
    .desc {
        color: #5f5379;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.06em;
    }

    .card {
        border: none;
        border-radius: 0;
        background: #f1f1f1;

        &:hover {
            background: #436edb;

            .card-body {
                .icons {
                    color: $white;
                }

                .card-title {
                    color: $white;
                }

                .btn-icon {
                    button {
                        background: none;
                        border: none;
                        color: $white;
                    }

                    i {
                        color: $white;
                    }
                }
            }
        }

        .card-body {
            .icons {
                color: $black;
                font-size: 42px;
                margin-top: 32px;
                margin-bottom: 14px;
            }

            .card-title {
                font-size: 24px;
                letter-spacing: 0.06em;
                color: $black;
                font-weight: 600;
            }

            .btn-icon {
                button {
                    background: none;
                    border: none;
                    color: $blue;
                }

                &:hover {
                    i {
                        color: $white;
                        transform: translateX(4px);
                    }
                }

                i {
                    color: $blue;
                    font-size: 20px;
                }
            }
        }
    }
}

.portfolio {
    .content {
        position: relative;
        margin: auto;
        overflow: hidden;
        border-radius: 13px;

        &:hover {
            img {
                transform: scale(1.1);
            }

            .overlay {
                opacity: 4;
            }

            .content-details {
                top: 50%;
                left: 50%;
                opacity: 1;
            }
        }

        img {
            width: 100%;
        }

        .overlay {
            background: rgba(45, 134, 218, 0.664);
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out 0s;
        }

        .content-details {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 80%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);

            h3 {
                color: #fff;
                font-weight: 600;
                text-transform: capitalize;
            }

            .icons {
                font-size: 24px;
                padding: 8px;
                color: #000;
                background: #fff;
                margin: 0 8px;
                border-radius: 8px;

                &:hover {
                    background: #4275fa;
                    color: #fff;
                }
            }
        }
    }
}

//=================== Desktop VERSIOn ==============================
@media (min-width: 992px) {
    section {
        padding: 76px 0;
    }

    .section-title {
        color: #4275fa;
        font-size: 22px;
        line-height: 36px;
        font-weight: 500;
        letter-spacing: 0.16em;
    }

    .title {
        color: #2e2d56;
        font-size: 34px;
        line-height: 54px;
        font-weight: 600;
        letter-spacing: 0.16em;
    }

    .navbar {
        &.sticky {
            background: #fff;

            .navbar-nav {
                background: none;

                .nav-link {
                    color: #4275fa;

                    &:hover {
                        color: darken($color: #4275fa, $amount: 30%);
                    }
                }
            }
        }
        .navbar-nav {
            background: none;

            .nav-link {
                color: #fff;
                padding-left: 32px;
            }
        }
    }

    .hero {
        background-size: 100%;
        padding-top: 80px;

        .title {
            font-size: 24px;
        }
        .sub-title {
            font-size: 48px;
        }

        .desc {
            font-size: 18px;
        }
    }

    svg {
        margin-top: -106px;
    }

    .about {
        .desc {
            font-size: 18px;
        }

        .row {
            --bs-gutter-x: 1rem;
        }

        .card {
            .card-subtitle {
                font-size: 16px;
            }
        }
    }

    .skills {
        .desc {
            font-size: 18px;
        }
    }
}
